@model CreateEstateVM

@{
    ViewData["Ttile"] = "Create a Home";
}
<div class="container">

    <form asp-action="Create" asp-controller="Estate" method="post" enctype="multipart/form-data">

        <!-- Location -->
        <div class="form-row row">
            <div class="  col-md-12" style="font-size: larger; margin-bottom:1rem;margin-top:1rem">
                <h2>Location</h2>
            </div>
            <div class="form-group col-md-4">
                <label asp-for="Governorate"></label>
                <input asp-for="Governorate" type="text" class="form-control" id=" " placeholder=" " />
                <span asp-validation-for="Governorate" class="text text-danger"> </span>
            </div>
            <div class="form-group col-md-4">
                <label asp-for="City"></label>
                <input asp-for="City" type="text" class="form-control" id=" " placeholder=" " />
                <span asp-validation-for="City" class="text text-danger"> </span>
            </div>
            <div class="form-group col-md-4">
                <label asp-for="Street"></label>
                <input asp-for="Street" type="text" class="form-control" id=" " placeholder=" " />
                <span asp-validation-for="Street" class="text text-danger"> </span>
            </div>
        </div>
        <!--End Location -->
        <!--Price and Area -->
        <div class="form-row row">
            <div class="  col-md-12" style="font-size: larger; margin-bottom:1rem;margin-top:1rem">
                <h2>General Information</h2>
            </div>
            <div class="form-group col-md-4">
                <label asp-for="Area"></label>
                <input asp-for="Area" type="number" class="form-control" placeholder=" " /> <span>Square Meters </span>
                <span asp-validation-for="Area" class="text text-danger"> </span>
            </div>
            <div class="form-group col-md-4">
                <label asp-for="Price"></label>
                <input asp-for="Price" type="number" class="form-control" placeholder=" " /> <span>Dollars</span>
                <span asp-validation-for="Price" type="number" class="text text-danger"> </span>
            </div>
            <div class="form-group col-md-4">
                <label asp-for="NFloor">Number of Floor</label>
                <input asp-for="NFloor" class="form-control" />
                <span asp-validation-for="NFloor" class="text text-danger"> </span>
            </div>
        </div>
        <!--End Price and Area -->
        <!--Specific Information -->
        <div class="form-row row">
            <div class="  col-md-12" style="font-size: larger; margin-bottom:1rem;margin-top:1rem">
                <h2>Specific Information</h2>
            </div>
            <div class="form-group col-md-3 ">
                <label asp-for="NRoom">Number of Rooms</label>
                <input asp-for="NRoom" class="form-control" />
                <span asp-validation-for="NRoom" class="text text-danger"> </span>
            </div>
            <div class="form-group col-md-3">
                <label asp-for="NBedroom">Number of BedRooms</label>
                <input asp-for="NBedroom" class="form-control" />
                <span asp-validation-for="NBedroom" class="text text-danger"> </span>
            </div>
            <div class="form-group col-md-3">
                <label asp-for="NBath">Number of Baths</label>
                <input asp-for="NBath" class="form-control" />
                <span asp-validation-for="NBath" class="text text-danger"> </span>
            </div>
            <div class="form-group col-md-3">
                <label asp-for="NLivingRoom">Number of Living Room</label>
                <input asp-for="NLivingRoom" class="form-control" />
                <span asp-validation-for="NLivingRoom" class="text text-danger"> </span>
            </div>
            <div class="form-group col-md-3">
                <label asp-for="NReceptionRoom">Number of Reception Room</label>
                <input asp-for="NReceptionRoom" class="form-control" />
                <span asp-validation-for="NReceptionRoom" class="text text-danger"> </span>
            </div>
            <div class="form-group col-md-3">
                <label asp-for="NBalcone">Number of Balcones</label>
                <input asp-for="NBalcone" class="form-control" />
                <span asp-validation-for="NBalcone" class="text text-danger"> </span>
            </div>
            <div class="form-group col-md-3 ">
                <label asp-for="NGarage">Number of Garages</label>
                <input asp-for="NGarage" class="form-control" />
                <span asp-validation-for="NGarage" class="text text-danger"> </span>
            </div>
            <div class="form-group col-md-3">
                <label asp-for="NKitchen">Number of Kitchens </label>
                <input asp-for="NKitchen" class="form-control" />
                <span asp-validation-for="NKitchen" class="text text-danger"> </span>
            </div>
            <div class="form-group col-md-3">
                <label asp-for="NFoodRoom">Number of Food Room </label>
                <input asp-for="NFoodRoom" class="form-control" />
                <span asp-validation-for="NFoodRoom" class="text text-danger"> </span>
            </div>
            <div class="form-group col-md-3">
                <label asp-for="NDepot">Number of Depot</label>
                <input asp-for="NDepot" class="form-control" />
                <span asp-validation-for="NDepot" class="text text-danger"> </span>
            </div>
            <div class="form-group">
                <label asp-for="ExtraFeatures"></label>
                <textarea asp-for="ExtraFeatures" class="form-control"></textarea>
                <span asp-validation-for="ExtraFeatures" class="text text-danger"> </span>
            </div>
        </div>
        <!--End Specific Information -->
        <!--Available -->
        <div class="mt-2">
            <h4>Your Property Is Available   </h4>
        </div>
        <div>
            <div class="form-group">
                <label asp-for="ForRent"> For Rent</label>
                <input asp-for="ForRent" type="checkbox" />
                <span asp-validation-for="ForRent" class="text text-danger"> </span>
            </div>
            <div class="form-group">
                <label asp-for="ForSale">  For Sale</label>
                <input asp-for="ForSale" type="checkbox" />
                <span asp-validation-for="ForSale" class="text text-danger"> </span>
            </div>
        </div>

        <!--End Available -->
        <!--Images -->
        <div class="mt-1">
            <h4> Add Images For Your Property</h4>
            <div class="form-group">
                <label asp-for="FormCover"> Add Main Cover</label>
                <input asp-for="FormCover" type="file" class="form-control-file" />
                <span asp-validation-for="FormCover" class="text text-danger"> </span>
            </div>
            <div class="form-group mt-3">
                <label asp-for="FormFiles">Add Others Images </label>
                <input asp-for="FormFiles" type="file" multiple class="form-control-file" />
                <span asp-validation-for="FormFiles" class="text text-danger"> </span>
            </div>
        </div>
        <!--End Images -->
        <!--Map -->
        <div>
            <h4>Add Your Property Location On Map</h4>
            <p>Just Click on Map then Submit the Location , if You did not Pass this Step Successfully Just Contuct Us to get Help by Click <a asp-action="">Here</a> </p>
            <div class="row">
                <!-- Reference to the Bing Maps SDK -->
                <script type='text/javascript'
                        src='https://www.bing.com/api/maps/mapcontrol?callback=GetMap&key=[ArTYnXAo5ajG1e4ZyFIV-LT3sW_IU0Uy2YETN7N-u5EdkJOaOwaft6BOA1SPlVfA]'
                        async defer>
                </script>
                <div class="col-md-6" id="myMap" style='position:relative;width:600px;height:400px;' onload="GetMap();"></div>
                <input id="lat" name="latcord" />
                <input id="long" name="longcord" />
                <a asp-action="">Submit Location</a>

            </div>
        </div>
        <!--End Map -->

        <button type="submit" class="btn btn-primary">Save</button>
    </form>
</div>


<script type='text/javascript'>
    function GetMap() {

        //You can customize the map as you load it.
        // Use the following code to update how the map is loaded in the GetMap function such that it sets the type to aerial,
        // the zoom level to 10, and the map center over London, UK (51.50632, -0.12714).
        var map = new Microsoft.Maps.Map('#myMap', {
            credentials: 'ArTYnXAo5ajG1e4ZyFIV-LT3sW_IU0Uy2YETN7N-u5EdkJOaOwaft6BOA1SPlVfA',
            center: new Microsoft.Maps.Location(51.50632, -0.12714),
            mapTypeId: Microsoft.Maps.MapTypeId.aerial,
            zoom: 10
        });


        //////////////////Pushpins, sometimes known as MapIcons or Markers,
        // are the primary method in the Bing Maps V8 Map Control to add a graphical image and text at a location within the map.
        //Create custom Pushpin
        // هنا يمكننا وضع الاحداثيات بدل سينتر لتثبيت ماركر
        var myloc = map.getCenter();
        var pin = new Microsoft.Maps.Pushpin(myloc, {
            color: 'red',
            title: 'Microsoft',
            subTitle: 'City Center',
            text: '1'
        });
        //Add the pushpin to the map
        map.entities.push(pin);

        /////////////////////////هذه النافذة التي تظهر على الموقع وهو يشبه صندوق وصف
        //Create an infobox that will render in the center of the map.
        var myloc = new Microsoft.Maps.Location(51.60632, -0.12914);
        var infobox = new Microsoft.Maps.Infobox(myloc, {
            title: 'Map Center',
            description: 'Seattle'
        });

        //Assign the infobox to a map instance.
        infobox.setMap(map);

        ///////////////// التقاط احداثيات عند النقر
        Microsoft.Maps.Events.addHandler(map, 'click', function (e) {
            map.entities.clear(); // for delete past pushpin
            var location = e.location;
            var latitude = location.latitude;
            var longitude = location.longitude;
            //draw Marker
            var myloc = location;
            var pin = new Microsoft.Maps.Pushpin(myloc, {
                color: 'blue',
                title: 'My Home',
            });
            // Add the pushpin to the map
            map.entities.push(pin);
            // print Coordinates in Div s
            document.getElementById('typlatcord').textContent = longitude;
            document.getElementById('typlongcord').textContent = latitude;
            // print Coordinates in Input Form
            document.getElementById('long').value = longitude;
            document.getElementById('lat').value = latitude;
            // print Coordinates in Console
            console.log('الإحداثيات: ' + location.latitude + ', ' + location.longitude);


        });
    } // end of Getmap()



</script>

